# Comment 1 is skipped.

##
# Comment 2 is skipped.

##
# @required {string}
REQUIRED__WITHOUT_NAME=

##
# @required {string} requiredWithName
REQUIRED__WITH_NAME=

##
# @required {boolean|number|string}
REQUIRED__MULTI_TYPE=

##
# @optional {string}
OPTIONAL__WITHOUT_NAME=

##
# @optional {string} = foo
OPTIONAL__WITHOUT_NAME_BUT_DEFAULT=

##
# @optional {string} optionalWithName
OPTIONAL__WITH_NAME=

##
# @optional {string} optionalWithNameAndDefault = foobar
OPTIONAL__WITH_NAME_AND_DEFAULT=

##
# @optional {boolean|number|string}
OPTIONAL__MULTI_TYPE=

##
# The default value will be converted into string[].
# @optional {string[]} = xxx,yyy,zzz
OPTIONAL__STRING_ARRAY=

##
# The default value will be converted into integer.
# @optional {number} = 777
OPTIONAL__INTEGER=

##
# The default value will be converted into float.
# @optional {number} = 3.14
OPTIONAL__FLOAT=

##
# The default value will be converted into number[].
# @optional {number[]} = 777,3.14
OPTIONAL__NUMBER_ARRAY=

##
# The default value will be converted into boolean.
# @optional {boolean} = true
OPTIONAL__TRUE=

##
# The default value will be converted into boolean.
# @optional {boolean} = false
OPTIONAL__FALSE=

##
# The default value will be converted into boolean.
# @optional {boolean[]} = true,yes,false,no
OPTIONAL__BOOLEAN_ARRAY=

##
# The default value will be converted into JSON array.
# @optional {json} = ["xxx","yyy","zzz"]
OPTIONAL__JSON_ARRAY=

##
# The default value will be converted into JSON object.
# @optional {json} = {"foo":"bar"}
OPTIONAL__JSON_OBJECT=

##
# Unknown annotation is skipped.
# @unknown
MISSING_ANNOTATION=
